.radioGroup {
  input {
    accent-color: var(--color-accent-500);
  }
}

.label {
  display: flex;
  align-items: center;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    left: -2px;

    display: inline-block;

    width: 36px;
    height: 36px;

    opacity: 0;
    background-color: var(--color-dark-500);
    border-radius: 36px;
  }
}
